.mainFilters{
  display: flex;
  flex-direction: column;
width: 70%;
margin: 2rem auto;
}
.label{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
}
.select{
    text-align: center;
    background:transparent;
    font-size: 1.5rem;
    border: 3px solid black;
    border-radius: 0.3rem;
    width: 72%;
    margin:  1rem auto;
    transition: 0.3s;

}
.select option{
    border-radius: 1rem;
    background: white;
    color: black;
}
.select:hover{
    background: black;
    color: #FEEA00;
}
.btnClean{
    width: 72%;
    font-size: 1.8rem;
    border-radius: 0.3rem;
    background: transparent;
    border: 3px solid black;
    cursor: pointer;
    transition: 0.3s;
    margin: auto;
    margin-top: 1rem;
}
.btnClean:hover{
    background: black;
    color:#FEEA00 ;
}
.divIcons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.icons{
    cursor: pointer;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
}