.mainInicio{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    display: grid;
    grid-template-columns: 40% 60%;
    
}
.btnIniciar{
    position: absolute;
    bottom: 13%;
    left: 13%;
    color: #000;
    font-size: 3rem;
    text-decoration: none;
    width: 10rem;
    height: 4rem;
    transition: 0.3s;
}
.btnIniciar:hover{
    width: 10.5rem;
    background-color: black;
    color: white;
}
.uno{
    height: 100vh;
    border: chocolate solid 1px;
}
.dos{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
}
.welcomes{
    width: 100%;
}
.imageInicio{
    width: 100%;
    height: 100%;
}

