.main{
    display: flex;
   font-size: 1.2rem;
   justify-content: center;
   background: black;
   color: white;
   height: 10vh;
}
.page{
    border-bottom: solid 3px #feea00;
    height: 30%;
    border-radius: 0.3rem;
    margin:0.3rem;
    margin-top: 0.7rem;
    padding:0.2rem 0.5rem;
    transition: 0.3s;
}
.page:hover{
    background: #feea00;
    color:black;
}
.pageselected{
    background: #feea00;
    color:black; 
}